/*-- scss:defaults --*/
$theme-blue: #0F4957;
$theme-yellow: #F4BA02;
$theme-pink: #Ed3053;
$link-color: $theme-blue;
$heading-color: $theme-pink;
$presentation-heading-color: lighten($theme-pink, 15%);


/*-- scss:rules --*/

.reveal {
  font-size: 24px;

  h1 {
    font-size: 2.5em;
    color: $heading-color;
  }

  h2 {
    font-size: 2em;
    color: $heading-color;
  }

  .slide-logo {
  display: block;
  position: relative;
  bottom: unset !important;
  right: unset !important;
  top: 5px;
  left: 1600px;
  height: 60px !important;
  width: 120px !important;
  max-width: unset !important;
  max-height: unset !important;
}

}

.echarts {
  font-size: 8px;
  align-self: center;
  width: 80%;
  height: 80%;
  margin: auto;
  }

.echarts2 {
  align-self: center;
  width: 80%;
  height: 60%;
  margin: auto;
  }
